<?xml version="1.0"?>
<config name="Config_Pre_Commit">

    <dir>
        <!--full path to the .git-->
        <git>.../.git/</git>
        <root>..../</root>
        <vendor>...../</vendor>
    </dir>
    
    <!--Run functions-->
    <run>
        <phpunit>false</phpunit>
        <phpcsfix>false</phpcsfix>
    </run>
</config>
